<mat-card>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span class="menu-spacer"></span>
          <div>
           <a mat-button [ngStyle]="{color: listColor}" [routerLink]="'/dashboardList'" [queryParams]="getListReq()">Les tâches</a>
            <a mat-button [ngStyle]="{color: newTaskColor}" [routerLink]="'/dashboardCreation'" [queryParams]="getCreationReq()"> Nouvelle tâche </a>
          </div>
           <div style="margin-left: 35%; color:darkorange">
            {{connectedUserId}} 
            <a style="margin-left:10px; font-weight: bold; color: black; background: white;" mat-button [routerLink]="'/login'"> Déconnection </a>
           </div>
           
        </mat-toolbar-row>
      
      </mat-toolbar>    
</mat-card>


<div style="margin-left: 2%;">
  <div style="font-size:20px; width:99%; background: #888; color:white;font-weight: bold; text-align:center">Les taches à traiter</div>

  <table style="margin-left: 2%; width: 97%;">
    <thead style="text-align: left; background: #ddd;" >
      <tr>
        <th *ngFor="let col of taskColumns;">{{col}}</th>
      </tr>
    </thead>
    <tbody *ngFor="let task of tasks; let isEven=even">
      <tr [ngStyle]="{'background-color': isEven ? 'white' : '#eee'}">
          <td>{{task.todo_id}}</td>
          <td>{{task.todo_user_id}}</td>
          <td>{{task.todo_label}}</td>
          <td>{{task.todo_date}}</td>
          <td>{{task.todo_is_done == 0 ? 'false' : 'true'}}</td>
          <td><button style="font-weight: bold; margin:0; padding:0" mat-raised-button (click)="updateTask(task)" >Modifier</button></td>
          <td><button style="font-weight: bold; margin:0; padding:0" mat-raised-button (click)="deleteTask(task)" >Supprimer</button></td>
      </tr>
  </tbody>  
  </table>
</div>

<!-- Nouvelle tâche ou modification de tâche -->
<mat-card *ngIf="addOrUpdate > 0" style="position:absolute; top:25%; left:20%; background:#eee; width:20%; margin-left: 10%;">
  
  <mat-card-title *ngIf="addOrUpdate == 1">Nouvelle tâche</mat-card-title>
  <mat-card-title *ngIf="addOrUpdate == 2">Mise à jour de la tâche</mat-card-title>
  <mat-card-content>
    <form #taskForm=ngForm (ngSubmit)="addOrUpdate == 1 ? addTaskSubmit() : updateTaskSubmit()">
      <div *ngIf="addOrUpdate == 2">
      <p>
        <mat-form-field>
          <input type="text" name=todoId [(ngModel)]="currentTodo.todo_id" matInput
            placeholder="Identifiant de la tâche" required #todoId="ngModel">
        </mat-form-field>
      </p>
      <div *ngIf="todoId?.invalid && (todoId?.dirty || todoId?.touched)">
        <div class="inputError" *ngIf="todoId?.errors?.required">L'identifiant tâche est obligatoire</div>
      </div>
    </div>

      <p>
        <mat-form-field>
          <input type="text" name=todoLabel [(ngModel)]="currentTodo.todo_label" matInput placeholder="Libellé de la tâche" required  #todoLabel="ngModel">
        </mat-form-field>
      </p>
      <div *ngIf="todoLabel?.invalid && (todoLabel?.dirty || todoLabel?.touched)">
        <div class="inputError" *ngIf="todoLabel?.errors?.required">Le libellé de la tâche est obligatoire</div>
    </div>
    <p>
        <input type="checkbox" name=todoDone [(ngModel)]="currentTodo.todo_is_done" #todoDone="ngModel" style="margin-right: 10px;">Tâche effectuée
    </p>
  
    <button type="submit" style="font-weight: bold;" mat-raised-button [disabled]="! taskForm.valid">Soumettre</button>

    </form>
  </mat-card-content>
</mat-card>