<mat-card>
  <mat-card-content>
      <span id="headerTitle" style="position:relative; left:0%; top:0px; margin:0; margin:0;">
          <span style="position: relative; left:10%;">
            <span style="color:slategray;">{{globalTitle}}</span>
            <span class="form-check-input" style="color:orange; font-size: 28px; margin-left: 20px;">{{globalSubTitle}}</span>
          </span>
    </span>
  </mat-card-content>
</mat-card>

<div class="m-t-1">
  <router-outlet></router-outlet>
</div>
