<div class="form-container" style="position:relative; top:10px; left:40%; width: 25%; ">
    <mat-card style="background:#eee; width:98%">
      <mat-card-title>Connection</mat-card-title>
      <mat-card-content >
        <form #userForm=ngForm (ngSubmit)="submit()">
          <p>
            <mat-form-field>
              <input type="text" name=userId [(ngModel)]="userId" matInput placeholder="Votre identifiant" required #usId="ngModel">
            </mat-form-field>
          </p>
          <div *ngIf="usId?.invalid && (usId?.dirty || usId?.touched)">
            <div class="inputError" *ngIf="usId?.errors?.required">L'identifiant est obligatoire</div>
        </div>

          <p>
            <mat-form-field>
              <input type="password" name=userPassword [(ngModel)]="userPassword" matInput placeholder="Votre mot de passe" required  #usPwdd="ngModel">
            </mat-form-field>
          </p>
          <div *ngIf="usPwdd?.invalid && (usPwdd?.dirty || usPwdd?.touched)">
            <div class="inputError" *ngIf="usPwdd?.errors?.required">Le mot de passe est obligatoire</div>
        </div>
  
          
         <button type="submit" style="font-weight: bold;" mat-raised-button [disabled]="! userForm.valid">Se connecter</button>
   
        </form>
    </mat-card-content>
  </mat-card>

  <p *ngIf="loginError" class="error">{{ loginError }}</p>
  
</div>
